* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-size: 3rem;
    background-color: aqua;
    color: black;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: aquamarine;
    color: aliceblue;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1, p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: .85;
}
