{% extends 'layout.html'%}

{% load static %}

{% block title%}
    Booking
{% endblock %}

{% block content %}
<h2>Book a Table</h2>
 <p>To make a table booking for your group, please fill out the table reservations form below. </p>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form id="reserve-form" action="{% url 'new booking' %}" method='post'>
  {% csrf_token %}
  {{ form.as_div }}
  {{request.user.id}}
  <button id="Reserve-button" type="submit" class="btn custom-button-outline d-block mx-auto">Reserve Table</button>
</form>
{% endblock %}