{% extends 'layout.html'%}

{% load static %}

{% block title%}
    Booking
{% endblock %}

{% block content %}
<h2>Book a Table</h2>
 <p>To make a table booking for your group, please fill out the table reservations form below
  (registered users only).
 </p>

{% if messages %}
  <ul style="list-style-type: none;">
    {% for message in messages %}
      <li style="text-align: center;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form class="reserve-forms" action="{% url 'new_booking' %}" method='post'>
  {% csrf_token %}
  {{ form.as_div }}
  <button  type="submit" class="btn custom-button-outline d-block mx-auto Reserve-buttons">Reserve Table</button>
</form>
<p> If you would like to update or delete your booking please click the button below. </p>

 <form  action="/booking/view_bookings" method="get">
      <button class="btn custom-button-outline d-block mx-auto Reserve-buttons"> Update </button>
 </form>
{% endblock %}