{% extends 'layout.html'%}

{% load static %}

{% block title%}
    Home
{% endblock %}

{% block content %}
<section>
<div class="bg d-flex align-items-center justify-content-center">   
    <div>
        <h1>Welcome to Sortead</h1>
        <p>Where cuisine meets quality.</p>
    </div>
</div>
</section>
<section id="about" class="section">
<div>
    <h2>About us</h2>
    <p>Born in the heart of Manchester, Sortead is a family owned business driven by one single metric: quality. 
    we are commited to this as we ensure every meal we serve is of the best possible standard we can uphold because
    here at Sortead, we deeply value every single one of our patrons and we want nothing more than to put a smile on 
    their face and put a delicious meal in their stomach! But food isn't the only thing we can offer, we also take pride 
    in our friendly and lively atmosphere which we would want nothing more than for you to join in on. 
    </p>
    <button class="btn custom-button-outline d-block mx-auto"> <a href="/booking"> Book a table</a> </button>
</div>
</section>
<section id="menu" class="section">
<div class="d-flex">
    <img src="{% static 'images/menu.png' %}" alt="menu" style="max-width: 70vw;">
</div>
</section>

{% endblock %}
